.Subheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    color: #171b31;
    padding: 50px;
    text-align: center;
}

.Subheader-heading{
    font-size: 33px;
    line-height: 50px;
    border: 4px solid #35956e;
    padding: 5px;
}